<footer id="contact" class="site-footer">
  <div class="container footer-grid">
    <div>
      <a href="#top" class="brand footer-brand">
        <img src="/static/VTail_Logo.png" alt="VTail logo" />
        <span>VTail</span>
      </a>
      
    </div>

    <div class="footer-links">
      <a href="https://x.com/VTail64" target="_blank" rel="noreferrer">X / Twitter</a>
      <a href="https://www.youtube.com/@VTail64" target="_blank" rel="noreferrer">YouTube</a>
      <a href="https://vrchat.com/home/user/usr_fa08662f-eeb0-4e1c-bc69-de1c91c0ab17" target="_blank" rel="noreferrer">VRChat</a>
    </div>
  </div>
</footer>
